<!DOCTYPE html>
<html>
    <head>
        <title>Tasks</title>
    </head>
    <body>
        <h1>Nova task</h1>
        <form action="/create" method="POST">
            <label for="title">Title</label>
            <br/>
            <input name="title" type="text" /> 
            <br/>
            <br/>
            <label for="description">Description</label>
            <br/>
            <input name="description" type="text" />
            <br/>
            <br/>
            <button type="submit">Enviar</button>
        </form>
        
    </body>
</html>