<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teste de uso do Template EJS </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <h1> Teste do uso do template EJS </h1>
    <h2> O parágrafo abaixo foi passado para esse template na variável "teste". </h2>
    <div class="container">
      <p><%= teste %></p>
    </div>
  </body>
</html>
